.container{
  text-align: center;
}

.title{
  margin-top: 50px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title span{
color: #26ffcb;
padding-left: 15px;
}
.reset{
  width: 180px;
  height: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #1f3540;
  font-size: 26px;
  color: #26ffcb;
  margin-top: 0px;
  margin-bottom: 0px;
}
.boxes{
  display: flex;
  margin: 1px 1px;
  height: 100px;
  width: 100px;
  background: #10232e;
  border: 1px solid #0d1c24;
  border-radius: 12px;
  cursor: pointer;
  
} 
.board{
  height: 350px;
  width: 290px;
  display: flex;
  margin: auto;
  
}
.boxes img{
  margin: 500px 50px;
  background-color: #26ffcb;
  
}
.title img{
  padding: 20px 20px;
  height: 50px;
}
